<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="no-more-tables" class="tablediv">
        <table class="col-sm-12 table-bordered table table-condensed cf">
          <thead class="cf">
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Status</th>
              <th>Activation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="User Name">John Doe</td>
              <td data-title="Email">johnDoe@xyz.com</td>
              <td data-title="Mobile">123456</td>
              <td data-title="Status">Pending</td>
              <td data-title="Activation">
                <button class="btn btn-success">Activate</button>
                <button class="btn btn-danger">DeActivate</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
