<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex justify-content-end offset-md-4">
        <div class="user-menu">
          <ul>
            <li>
              <a href="#"><i class="fa fa-user"></i> My Account</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-heart"></i> Wishlist</a>
            </li>
            <li>
              <a href="cart.html"><i class="fa fa-user"></i> My Cart</a>
            </li>
            <li>
              <a href="checkout.html"><i class="fa fa-user"></i> Checkout</a>
            </li>
            <li>
              <a routerLink="/shopping"><i class="fa fa-user"></i> Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex align-items-center">
        <div class="logo">
          <a href="./"
            ><img src="../../../assets/img/srikaraSeedsLogo.png"
          /></a>
        </div>
      </div>

      <div class="col-sm-6 d-flex align-items-center justify-content-end">
        <div class="shopping-item">
          <a href="cart.html"
            >Cart - <span class="cart-amunt">$100</span>
            <i class="fa fa-shopping-cart"></i>
            <span class="product-count">5</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End site branding area -->

<nav class="navbar navbar-expand-lg mainmenu-area">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll nav"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Link</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End mainmenu area -->
